<h1>Welcome to Matthew's Trove of Wonderous Tales!</h1>
<h2>Classic stories to delight young and old, large and small, dim and curious</h2>

<h3>Stories to Choose From:</h3>
<% @library.each do |links| %>
    <ul>
        <li><%= links.url %></li>
    </ul><br>
<% end %>

<%#= button_to "Make a New Adventure", new_adventure_page %>
<a href="/adventures/new">Make a New Adventure</a>