<h1>Collection of Libraries</h1>

<% @libraries.each do |library|  %>
  <% if library.url == "/adventures"  %>
    <h3><%= link_to library.name, library.url %></h3>
  <% else %>
    <h3><%= link_to library.name, library.url+"/adventures" %></h3>
  <% end %>
<% end %>