<h1>Libraries#index</h1>

<%= link_to "View Kevin's Adventures", adventures_path %><br>
<%= link_to "Add New Library", new_library_path %>
<% @libraries.each do |library| %>
  <%= library.url %>
<% end %>
