<h2> Add a library</h2>
<div class="container">
<%= form_for @library do |f| %>
   <%= f.label :url %>
   <%= f.text_field :url, placeholder: "http://sleepy-garden-8077.herokuapp.com" %>

   <%= f.submit "Add library" %>
<% end %>
</div>

