<div class="row">
	
	<div class="adventures">
		<h1>Adventure Titles <% @local_adventures.each do |a| %></h1>
		<h2><a href="<%= a.title %>"><%= a.title %></a></h2>
		<h3><%= a.author %></h3>
		<% end %>
	</div>



</div>
