<h1>Welcome to Adventure, forever!</h1>



 <%= link_to "Create New Adventure", new_adventure_path %><br>
<% @adventures.each do |adventure| %>
  <%= link_to adventure.title, adventure_path(adventure.id) %> <%= adventure.author %><br>
<% end %>