<h1>Adventures#index</h1>
<p>Find me in app/views/adventures/index.html.erb</p>

<h3>Local Adventures</h3>
<% @local_adventures.each do |adv| %>
  <%= link_to adv.title, adventure_path(adv.id)%><br>
<%end%>
<br>
<%= link_to "New Adventure", new_adventure_path %><br> 

<h3>My Friends' Adventures</h3>
<% @foreign_adventures.each do |adv| %>
  <%= link_to adv.title, adventure_path(adv.id)%><br>
<%end%>

