


<table class="table">

  <th>
    Title
  </th>
  <th>
    Author
  </th>

  <% @adventures.each do |x| %>
  <tr>
    <td><%= link_to "#{x.title}", adventure_page_path(x.id, x.pages.find_by(name: "start")) %></td>
    <td><%= x.author %></td>
  </tr>
  <% end %>

</table>
