<h1>Adventures#index</h1>
<p>Find me in app/views/adventures/index.html.erb</p>
<% @adventures.each do |f| %>
<%=link_to f.title, adventure_path(f.id) %>
<%= f.author %><br>
<%end%>

<br>
<br>
<p> Or, make a new adventure! </p>
<%=link_to "GO!", new_adventure_path %>