<a href='/adventures/new'>Create a New Adventure</a>

<ul>
  <% @adventures.each do |a| %>
    <% this_adventure = a.pages.find_by(name: "start") %>
    <li><%= link_to a.title, adventure_page_path(a, this_adventure) %>, BY: <%= a.author %></li>
  <% end %>
</ul>