<div class="header">
  <h1>My Adventures</h1>
  <%= link_to "Add story", new_adventure_path, class: "btn btn-primary btn-xs" %> 
</div>

<div>
  <ul> 
  <% @adventures.each do |adv| %>
  
    <li>
      <%= link_to adv.title, adventure_page_path(adv.id, adv.start.id) %><br />
      by <%= adv.author %><br />
      <%= link_to "Edit", edit_adventure_path(adv.id), class: "btn btn-success btn-xs" %>
    </li>

  <% end %>
  </ul>
</div>
