<h1><%= @local_adventure.title %></h1>

<h2>Authored by: </h2>
<h2><%= @local_adventure.author %></h2>


<% if @local_adventure.pages.length > 0 %>
	<div>
		<a href="<%= adventure_page_path(:adventure_id => @local_adventure.id, :id => @start_page.id)%>">Start Your Adventure</a>
	</div>
<% else %>
	<h3>Create Pages: </h3><br>
<p><%= link_to "Add something", new_adventure_page_path(@local_adventure.id) %></p>

<% end %>

