adventure/show.html.erb

<div class="container">

<%= @adventure.title %>
<%= @adventure.author %>

<div>

<%= button_to "start adventure", adventure_page_path(@adventure, @first_page) %>

<%= button_to "adventures", adventures_path %>

</div>

</div>