<h1>ADVENTURE TIME!</h1>

<div>
  <h4>Title: <%= @adventure.title %></h4>
  <h4>Contributor: <%= @adventure.author %></h4>
</div>

<div>
  <h3>"<%= @start_page.name %>"</h3>
  <%= simple_format(linkify_page(@start_page)) %>
</div>
