  <h3>Pages</h3>
  <%= link_to "Add", new_adventure_page_path(@adventure, @adventure.pages.build), class: "btn btn-success btn-xs" %>
  <ul>
    <% @adventure.pages.each do |page| %>
      
      <li><%= page.name %>
          <%= link_to "Edit", edit_polymorphic_path([@adventure, page]), class: "btn btn-success btn-xs" %>
          <%= link_to "Delete", { action: "destroy", id: [@adventure.id, page.id] }, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger btn-xs" %>
      </li>
    <% end %>
  </ul>