<h1><em><%= @adventure.title %></em></h1>


   <%= sanitize linkify_page(@page) %>
   <% if @page.name == "end" %>
     <br/>
     <div class = "container"><strong><em>The end</em></strong></div.
   <% end %>