/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
}


header  {
  background: url('http://www.wallsave.com/wallpapers/2560x1440/forest-path/472455/forest-path-landscapes-x-jpg-472455.jpg');
  background-size: cover;
  background-position: bottom;
  height: 300px;
  text-align: center;
}

.adventure-title{
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 6em;
  padding-top: 70px;
}

ul {

}
li  {
  display: inline-block;
  padding: 0px 10px 0px 10px;

}

.or {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 3em;

}

.adventures-body {
  padding-top: 50px;
  padding-bottom: 50px;

}