forms {
  text-align: center;
  padding-left: 40px;
  margin-left: 50px;
}

adventure_form{
  background: yellow;
  padding-left: 20px;
}

pages_form{
  background: green;

}

.title{
  padding-left: 40px;
}

#new_adventure {
padding-left: 40px;
}

h1 {
  text-align: center;
  font-style: italic;

}
.container{
  text-align: center;
}
.center{
  text-align: center;
}