<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container text-center">
      <nav>
        <a href="<%= new_library_path %>" >add a new library</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="<%= new_adventure_path %>" >create an adventure</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="<%= libraries_path %>" >adventure libraries</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="<%= adventures_path %>" >dive into adventures</a>
      </nav>
    </div>
  </div>
</header>